{% extends 'base.html' %}

{% block content %}

<h2 class ="text-center mb-3 mt-2">Now, create the options for users to select.</h2>

    <div class="row">
        <div style="height: 50rem; background-color: #89CFF0;" class="col-md-6 offset-md-3 text-center rounded-3">
            <!-- Progress bar -->
            <div class="progress m-3">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color: #4BB543;">
                  100% complete
                </div>
              </div>
            <!-- end of progress bar-->
            <form method="POST" action="{% url 'createchoice' question.id %}" class="form-horizontal">
                {% csrf_token %}
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ formset.as_p }}               
                                <button type="submit" class="btn btn-primary">Save</button>                 
                                <!-- <label for="choice_text">Enter Choice: </label>
                                <div class="d-flex">
                                <input type="text" class="form-control" id="choice" name="choice_text" placeholder="Example: Yes" />
                                <button type="submit" class="btn btn-info">Create choice</button>
                                </div> -->
                                <!-- Display error message-->
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li class="alert alert-danger" style="list-style: none">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                

                                <!--End of display-->
                            </div>
                        </div>
                    </div>
                    <!-- Display error message-->
              </div>
            </form>
        </div>
    </div>


{% endblock %}
