{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-3 mt-2">Create a poll</h2>

    <div class="row">
        <!-- Display progress bar -->
        <div style="height: 50rem; background-color: #89CFF0;" class="col-md-6 offset-md-3 text-center rounded-3">
            <div class="progress m-3">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%; background-color: #4BB543;">
                  50% complete
                </div>
              </div>
              <!-- End of progress bar -->
            <form method="POST" action="{% url 'createquestion' %}" class="form-horizontal question-form">
                {% csrf_token %}
                <div class="row">
                    <h3 class="text-center mb-5">First, enter the poll topic: </h3>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control form-control-lg" id="question" name="question_text" placeholder="Is Rust better than C++?"></textarea>
                                <div class="d-grid mt-3">
                                    <button class="btn btn-primary btn-lg" type="submit">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>


{% endblock %}