{% extends 'base.html' %}

{% block content %}
    <h2 class ="text-center mb-3 mt-2">Poll: {{ question }}</h2>
    <div class="container bg-info rounded-3 p-5">
        <form action="{% url 'vote' question_id=question.id %}" method="POST">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <ul class="list-group">
                    <span>
                        <input class="form-check-input" type="radio" name="choice" id="flexRadioDefault1" value="{{ choice.id }}">
                        <label class="form-check-label" for="choice">{{ choice }}</label>
                    </span>
                </ul>
                <br>
            {% endfor %}
            <button class="btn btn-success mt-3" type="submit">Submit</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="text-danger" style="list-style: none">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}